<!DOCTYPE html>
<html lang="en">

<head>{% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <script src="{% static 'js/register.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration From</title>
</head>

<body onload="checkCookie()">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="/media/votechain.png" alt="fly">
                <!-- <a href="/" data-toggle="tooltip" title="HOME">
                    <button  class="btn btn-info">Home</button>
                </a> -->
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    {%ifequal message "tab2" %}
                    <li class="nav-item"><a href="#home" class="nav-link" id="home-link" data-toggle="tab" role="tab"
                            aria-controls="home">Register</a></li>
                    {%else%}
                    <li class="nav-item"><a href="#home" class="nav-link active" id="home-link" data-toggle="tab"
                            role="tab" aria-controls="home">Register</a></li>
                    {%endifequal%}
                    {%ifequal message "tab2" %}
                    <li class="nav-item"><a href="#home-tab2" class="nav-link active" id="home-tab-link"
                            data-toggle="tab" role="tab" aria-controls="home2">vote</a></li>
                    {%else%}
                    <li class="nav-item"><a href="#home-tab2" class="nav-link" id="home-tab-link" data-toggle="tab"
                            role="tab" aria-controls="home2">vote</a></li>
                    {%endifequal%}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {%ifequal message "tab2" %}
                    <div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% else %}
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% endifequal %}
                            <h3 class="register-heading">Register Form</h3>
                            <div class="row register-form">
                                {% if messages %}
                                {% for message in messages %}
                                <div id="alert"
                                    class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                                    role="alert">
                                    <h5><strong> {{ message }}</strong></h5>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div>
                                    <div class="form-group">
                                        <form name="notesForm" onsubmit="return validateForm()" action="/register/"
                                            method="post">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" placeholder="Name *" value=""
                                                name="name" id="name" required="True">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email *" value=""
                                            name="email" id="email" required="True">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" class="form-control"
                                            name="phone" id="phone" placeholder="phone number *" value=""
                                            required="True">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="12" maxlength="12" name="aadhar"
                                            class="form-control" id="aadhar" placeholder="Aadhar number  *" value=""
                                            required="True">
                                    </div>
                                    <input id="submitbtn" type="submit" class="btnRegister" value="Procced">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" placeholder="OTP *" value=""
                                            name="otp" id="otp" required="True">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" placeholder="password *" value=""
                                            name="password" id="password" required="True">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" placeholder="Confirm Password *"
                                            name="cnfpassword" id="cnfpassword" value="" required="True">
                                    </div>
                                </div>
                                </form>
                                <div id="last_info" hidden>
                                    <h5>Next is face-capture phase:</h5>
                                    <div class="alert alert-info" role="alert">
                                        <strong>Read the instructions <button class="badge badge-pill badge-warning"
                                                onclick="display_message();">Here</button> and finish the last step in
                                            registration process.</strong>
                                    </div>
                                    <p class="text-center">
                                        <button type="button" class="badge badge-pill badge-success"
                                            onclick="display_gif();">CONTINUE</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {%ifequal message "tab2" %}
                        <div class="tab-pane fade show active" id="home-tab2" role="tabpanel" aria-labelledby="home2">
                            {% else %}
                            <div class="tab-pane fade show" id="home-tab2" role="tabpanel" aria-labelledby="home2">
                                {% endifequal %}
                                <h3 class="register-heading">Login to vote</h3>
                                <div class="row register-form">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div id="alert2"
                                        class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                                        role="alert">
                                        <h5><strong> {{ message }}</strong></h5>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <div class="col-md-6">
                                        <form name="notesForm" action="/login/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="key" placeholder="KEY *"
                                                    value="" required="true">
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Password *" value="" required="true">
                                        </div>
                                        <input type="submit" class="btnRegister" value="Procced">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
<script>
    var status = "{{message}}"
    if (status == "show") {
        document.getElementById("otp").setAttribute("type", "number");
        document.getElementById("password").setAttribute("type", "password");
        document.getElementById("cnfpassword").setAttribute("type", "password");
        document.getElementById("name").setAttribute("type", "hidden");
        document.getElementById("email").setAttribute("type", "hidden");
        document.getElementById("phone").setAttribute("type", "hidden");
        document.getElementById("aadhar").setAttribute("type", "hidden");
    }
    else if (status == "show_last_info") {
        document.getElementById("name").setAttribute("type", "hidden");
        document.getElementById("email").setAttribute("type", "hidden");
        document.getElementById("phone").setAttribute("type", "hidden");
        document.getElementById("aadhar").setAttribute("type", "hidden");
        document.getElementById("otp").setAttribute("type", "hidden");
        document.getElementById("password").setAttribute("type", "hidden");
        document.getElementById("cnfpassword").setAttribute("type", "hidden");
        document.getElementById("submitbtn").setAttribute("type", "hidden");
        document.getElementById("last_info").removeAttribute("hidden")
    }
    function display_gif() {
        alertify.alert('CLICK YOUR PHOTO', '<img src="/media/face.gif" class="mt-4" width="100%" height="100%"/><h5>Please click "CAPTURE PHOTO" and look at the camara.</h5><a href="/capture/{{url}}">CAPTURE PHOTO</a>', function () { alertify.success('click continue to move to the next step'); });
    }
    setTimeout(function () {
        $('#alert2').alert('close');
    }, 5000);
</script>

</html>